@import "tailwindcss";

#xezer{
    background-color: #1a1a1a00;
    box-shadow: none;
}

#list {
    background-color: rgba(172, 172, 172, 0.167);
}

::-webkit-scrollbar-thumb {
    background-color: #e50914; 
  
  }
 
  * {
    scrollbar-color: #e50914 #373737;
    scrollbar-width: 40px;
  
  }

  #table{
       width: 800px; 
       text-align: center;
       
       margin-left: 60px;

    td{
      padding: 7px;
      border-radius: 5px;

    }

  }

  @theme {
    --breakpoint-mob: 420px;
    --breakpoint-tab:650px;
    --breakpoint-desk: 770px;
    --breakpoint-elave: 1200px;
  }